.Logo{
  max-width: 100px;
}

.Logo-container{
  left: 10px;
  position: fixed;
  margin: 10px;
}

.side_menu ul{
  position: absolute;
  list-style-type: none;
  text-align: center;
}

.side_links{
   text-decoration: none;
   color: black;
}

nav ul li a.current_item{
  background-color: rgb(31,187,127);
  text-decoration: none;
  color: white;
}

nav ul li{
  min-width: 50px;
  margin:10px;
}

nav ul li a{
  background-color: white;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(190, 190, 190);
  padding:12px;
  display:block;
}

nav ul li a:hover {
  border-color: rgb(31,187,127);
  border-width: 1px;
}

#login_items{
  top:50%;
  transform:translate(0px,-50%);
  right: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

#login_items >div{
  display: none;
}

#login_items >a{
  color:white;
  text-transform: uppercase;
  text-decoration: none;
}

#login_items >span{
  color:white;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 5px;
}


#login_items >button{
  color:white;
  /* background-color: #666; */
  background: none;
  border-radius: 8px;
  display:inline-block;
  border:none;
  padding:8px 10px;
  text-transform: uppercase;
  text-decoration: none;
}

#login_items >button:hover{
  background-color: white;
  color:rgb(31,187,127);
}

#login_items >a:hover{
  background-color: white;
  color:rgb(31,187,127);
}

#login_items a{
  border-radius: 8px;
  padding:5px;
  font-size: 0.9rem;
}

.my_content{
  margin-top: 20px;
  margin-left: 240px;
}

.custom_body {
  position: relative; 
  width: 100%;
  padding-top: 100px;
}

.custom_body::before {    
  content: "";
  background-image: url("./background.jpg");
  background-size: cover;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  z-index: -1;
}

#my_messages{
  margin:auto;
}

.App {
  text-align: center;
}

.App-header {
  background-color: rgb(31,187,127);
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: Top;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  position: fixed;
  width:100%;
  z-index: 999;
}

.App-header::before{
  content:"";
  position: absolute;
  top:100%;
  height: 5px;
  background-color: rgba(31,187,127,0.5);
  width:100%;
}

.subscribe_items{
  /* display: -ms-inline-grid; */
  display : inline-grid;
}

.subscribe_items input,.subscribe_items button{
  margin : 10px;
  border-radius: 8px;
  border-width: 1px;
  border-color: lightgrey;
  min-width: 400px;
  padding:8px 12px;
}

.subscribe_items button{
  background-color: rgb(31,187,127);
  color:white;
}

.subscribe_items button:hover{
  background-color: rgba(31,187,127,0.7);
  color:white;
}

button{
  cursor: pointer;
}

.subscriber_container{
  text-align: center;
}

.pending_requests{
  text-align: center;
}

.pending_requests_container{
  text-align: -webkit-center;
  margin-top: 40px;
}

.pending_requests_controls *{
  margin:10px;
  border-radius: 8px;
  border-width: 1px;
  border-color:lightgray;
  padding: 5px;
}

.request_area{
  min-width: 400px;
}

.pending_requests ul{
  list-style-type: none;
  padding-inline-start: 0px;
}

.pending_requests ul li{
  margin-top: 20px;
}

.pending_requests ul label{
  background-color: white;
  border-radius: 8px;
  border-color:lightgray;
  border-width:1px;
  padding:8px 20px;
  display: inline-block;
  min-width: 220px;
}

.pending_requests ul label:hover{
  background-color: rgb(31,187,127);
  color:white;  
}

.pending_requests button:hover{
  background-color: rgba(31,187,127,0.7);
}

.pending_requests button{
  background-color: rgb(31,187,127);
  color:white;
  min-width: 100px;
}

#activities_list{
  padding-inline-start: 20px;
}

.rce-container-input {
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 30px;
}

.rce-button{
  background-color: rgb(31,187,127) !important;
}

.rce-container-input {
  min-width: 80%;
}

.rce-input-textarea{
  padding:8px 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}